body{font-family:monospace;color:#24b9c9; background-color:#0a0019;
background: url("img/bg.gif") no-repeat center center fixed;
                background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;}

		a:link, a:visited, a active {
		    color: #ff0088;
		    background-color: transparent;
		    text-decoration: none;
				}

	
		a:hover {
		    color: #ee44ff;
		    background-color: transparent;
		    text-decoration: underline;
		        }
.jill 	{
    position: fixed;
    max-width: 410px;
    width: 45%;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    right: 0;
  		}		
 #gif { 
 
 	border: 4px solid #210215;	    
	border-radius:4px;    
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    opacity:1;
    color: #ff0088;
    
    			  }
audio { width: 592px}
#radio
			{
					
				background: rgba(0,4,24,0.87);				
				padding-left: 4px;
				padding-right: 4px;
				padding-top:4px;
				padding-bottom:2px;
				border-radius:4px;
			}

			
#content
			{
				width: 600px;
				background: rgba(38,38,38,0.92);
				margin-left:8%;
				margin-top: 3%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				border-radius: 15px;
			
			}
@media (min-width: 1686px) {
 

#sidepanel
			{
				position: fixed;
				left: 38%;
				width: 500px;
				background: rgba(38,38,38,0.92);
				margin-left:8%;
				margin-top: 3%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				border-radius: 15px;
			
			}	

#sidepanel2
			{
				position: fixed;
				left: 35%;
				width: 500px;
				background: rgba(38,38,38,0.92);
				margin-left:8%;
				margin-top: 12%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				border-radius: 15px;
			
			}	
}	


@media (max-width: 1686px) {
 

#sidepanel
			{
				position: bottom;
				left: 38%;
				width: 500px;
				background: rgba(38,38,38,0.92);
				margin-left:8%;
				margin-top: 3%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				border-radius: 15px;
			
			}	

#sidepanel2
			{
				position: bottom;
				left: 35%;
				width: 500px;
				background: rgba(38,38,38,0.92);
				margin-left:8%;
				margin-top: 12%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				border-radius: 15px;
			
			}	
}	
			
			
			
div.gallery {
    margin: 5px;
    border: 1px solid #ff	0088;
    float: center;
    width: 188px;
	heigth: 148px;

}

div.gallery:hover {
    border: 1px solid #FFB6C1;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 6px;
    text-align: center;
}	
		

#avatar { 
    
	float: left;  
	margin-right:15px;
	border: 3px solid #f4b9ff;	    
	border-radius:4px;   
	margin-left: 10px;
}
