body{
	font-family:Martel;
	font-size: 12;
	color:#fff;

background: url("bg.jpg") no-repeat left center fixed;
                background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;}
				
a:link, a:visited, a active {
		    color: #ffc34d;
		    background-color: transparent;
		    text-decoration: underline;
				}

#title {
	font-size: 64px;
	color: #ffc34d;
	font-family: 'Tangerine', cursive;
}
	
		a:hover {
		    color: #ffe6b3;
		    background-color: transparent;
		    text-decoration: underline;
		        }				
				
				



#content
			{
				position: absolute;
				width: 34%;
				background: rgba(0,0,0,0);
				margin-left: 27px;
				margin-top: 2%;
				margin-bottom: 2%;
				float: left;
				padding-left: 15px;
				padding-right:15px;
				padding-bottom: 100px;
				border-radius: 15px;
			
			}
			
			
#pics { 
	max-width: 96%;
 	border: 3px solid #b37700;	    
	border-radius: 2px;    
}

.but {
	background-color: rgba(0,0,0,0);
	border: none;
	color: white;
	
}